.custom-slider {
  position: relative;
  height: 100%;
  overflow: visible;
}

.custom-slider .slick-list,
.custom-slider .slick-track {
  height: 100%;
}

.custom-slider .slick-slide {
  position: relative;
  opacity: 0;
  transform: translateX(100%);
  transition: opacity 0.4s ease-out;
}

.custom-slider .slick-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 2s ease-in;
}

.custom-slider .slick-slide.slick-active + .slick-slide {
  transform: translateX(100%);
}

.custom-slider .slick-slide.slick-active ~ .slick-slide {
  transform: translateX(100%);
}

.custom-slider .slick-slide > div {
  height: 100%;
}

.custom-slider .slick-list {
  overflow: visible;
}

.custom-slider .slick-track {
  display: flex;
  align-items: center;
}

.custom-slider .slide-item {
  height: 100%;
  transition: opacity 0.4s ease-in-out;
}

.custom-slider .slick-current {
  z-index: 2;
}

/* Ensure background transitions smoothly */
.bg-image {
  transition: opacity 0.5s ease-in-out;
}

/* Hide non-active backgrounds */
.bg-image:not(.active) {
  opacity: 0 !important;
}

/* Show active background */
.bg-image.active {
  opacity: 0.2 !important;
}

/* Slide out the previous slide */
.custom-slider .slick-active.slick-current + .slick-slide + .slick-slide {
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 0.4s ease-out, transform 0.7s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.collection-image {
  will-change: opacity;
}
.slick-slide {
    transition: opacity 0.3s ease-out;
  }
  
  .slick-active {
    transition: opacity 1s ease-in;
  }
